.home{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box_levels{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    overflow: hidden;
    overflow-y: scroll;

}

.box_slider{
    width: 30rem;
    height: 32rem;
    border: 2px solid rgba(255, 255, 255, 0.575);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(3px);
    filter: contrast(110%);
    position: relative;
}

.box_slider:hover{
    scale: 1.04;
    box-shadow: 0 0 1.5rem rgba(181, 255, 209, 0.356);
    transition: scale .8s ease;
}

.box_slider:hover > .textBox{
    background-color: rgba(0, 0, 0, 0.705);
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    transition: font-size .4s ease;
}

.textBox{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "MontserratBold";
    top:-3rem;
    padding: 1.5rem 0;
    text-align: center;
    border: 2px solid rgb(145, 144, 144);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.781);
    transform: translateZ(20px);
    transition: all .4s ease;
    
}



/* capitulos */

.boxCapitulos{
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.box_levels_capitulos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    overflow: hidden;
    padding: 10rem 0;
    padding-top: 13rem;
    overflow-y: scroll;
    transform-style: preserve-3d ;
    transform: perspective(1000px);
}



.linkHome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-family: "MontserratBold";
    letter-spacing: 1px;
    position: absolute;
    left: 7%;
    top: 4%;
    width: 10rem;
    height: 4rem;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.651);
    z-index: 10;
    backdrop-filter: blur(3px);
    transform: translateZ(160px);
    transition: all .4s ease;
}



.linkHome:hover{
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.63);
    transition: all .4s ease;
}

.imgBox{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(160px);
}

.imgBox_home{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: contrast(110%);
    transform: translateZ(160px);
}

.fullScreen{
    position:absolute;
    right:3%;
    width:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    bottom:5%; 
}

.fullScreenImg:hover{
    scale: 1.2;
    transition: all .4s ease;
}

.hoverMesh{
    padding: 2rem;
    font-size: 2rem;
    color: white;
    border: 2px solid red;
}

@media screen and (max-width:1440px) {
    .box_levels{
        width: 100%;
        height: 100%;
       padding: 8rem 0;
    }
}